{% extends "base.html" %}

{% block content %}
<div class="posts">
  <h3> {{ term.name | capitalize }} </h3>
  {% for post in term.pages %}
    <div class="post">
      <div class="post-header">
        <div class="meta">
          <div class="date">
            <span class="day"> {{ post.day }}</span>
            <span class="rest"> {{ post.month}}/{{ post.year }} </span>
          </div>
        </div>
        <div class="matter">
          <h4 class="title small">
            <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
          </h4>
          <span class="description">
            {{ post.description }}
          </span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}