{% extends "base.html" %}

{% block content %}
<div class="posts">
  {% for post in section.pages %}
    <div class="post">
      <div class="post-header">
        <div class="meta">
          <div class="date">
            <span class="day"> {{ post.day }}</span>
            <span class="rest"> {{ post.date | date(format='%b') }} {{ post.year }} </span>
          </div>
        </div>
        <div class="matter">
          <h3 class="title small">
            <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
          </h3>
          <span class="description">
            {{ post.description }}
          </span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
